blinds_flow.txt
[{"id":"4e1b1cef.21c7c4","type":"template","z":"724bf7ae.b96e38","name":"Lib UP","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"AA B0 4C 04 08 13BA 0258 0118 13C4 code 55","output":"str","x":750,"y":560,"wires":[["63c3ef83.96adb"]]},{"id":"c7d712f8.b84d","type":"template","z":"724bf7ae.b96e38","name":"Lib Down","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"AA B0 4C 04 08 13A6 0258 0118 13A6 code 55","output":"str","x":760,"y":520,"wires":[["63c3ef83.96adb"]]},{"id":"63c3ef83.96adb","type":"mqtt out","z":"724bf7ae.b96e38","name":"","topic":"cmnd/rf_bridge/rfraw","qos":"2","retain":"","broker":"b1e11277.fbf1f","x":1020,"y":500,"wires":[]},{"id":"76721f3e.ac66e","type":"template","z":"724bf7ae.b96e38","name":"Lib stop","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"AA B0 4C 04 08 13B0 0258 0118 13B0 code 55","output":"str","x":760,"y":600,"wires":[["63c3ef83.96adb","84e29b8e.153608"]]},{"id":"f36f83b1.0156f","type":"debug","z":"724bf7ae.b96e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":740,"wires":[]},{"id":"4b1133e3.36a63c","type":"template","z":"724bf7ae.b96e38","name":"RfRaw OFF","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"OFF","output":"str","x":1010,"y":560,"wires":[["63c3ef83.96adb"]]},{"id":"84e29b8e.153608","type":"delay","z":"724bf7ae.b96e38","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":600,"wires":[["4b1133e3.36a63c"]]},{"id":"b18115f8.e50c38","type":"debug","z":"724bf7ae.b96e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":660,"wires":[]},{"id":"101b4771.bc7519","type":"change","z":"724bf7ae.b96e38","name":"decreasing","rules":[{"t":"set","p":"payload","pt":"msg","to":"DECREASING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":520,"wires":[["90379699.cd68f8","c7d712f8.b84d"]]},{"id":"e038d495.545ac8","type":"change","z":"724bf7ae.b96e38","name":"increasing","rules":[{"t":"set","p":"payload","pt":"msg","to":"INCREASING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":440,"wires":[["90379699.cd68f8","4e1b1cef.21c7c4"]]},{"id":"528f1097.76326","type":"change","z":"724bf7ae.b96e38","name":"stopped","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":480,"wires":[["90379699.cd68f8","76721f3e.ac66e"]]},{"id":"90379699.cd68f8","type":"mqtt out","z":"724bf7ae.b96e38","name":"","topic":"mqttthing/lib_blinds/getpositionstate","qos":"2","retain":"true","broker":"b1e11277.fbf1f","x":980,"y":440,"wires":[]},{"id":"9141995f.3df4d8","type":"mqtt in","z":"724bf7ae.b96e38","name":"","topic":"mqttthing/lib_blinds/settargetposition","qos":"2","datatype":"utf8","broker":"b1e11277.fbf1f","x":180,"y":240,"wires":[["e5499571.501ef8","1462fb2b.d2ac15"]]},{"id":"9b4e35fe.1627a8","type":"mqtt out","z":"724bf7ae.b96e38","name":"","topic":"mqttthing/lib_blinds/getposition","qos":"2","retain":"true","broker":"b1e11277.fbf1f","x":990,"y":340,"wires":[]},{"id":"1462fb2b.d2ac15","type":"mqtt out","z":"724bf7ae.b96e38","name":"","topic":"mqttthing/lib_blinds/gettargetposition","qos":"2","retain":"true","broker":"b1e11277.fbf1f","x":530,"y":240,"wires":[]},{"id":"c77c548a.41a678","type":"mqtt in","z":"724bf7ae.b96e38","name":"","topic":"mqttthing/lib_blinds/getposition","qos":"2","datatype":"utf8","broker":"b1e11277.fbf1f","x":150,"y":720,"wires":[["4fbb55da.89fb7c"]]},{"id":"6f0e2099.d180f","type":"change","z":"724bf7ae.b96e38","name":"","rules":[{"t":"set","p":"positionstate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[["b18115f8.e50c38"]]},{"id":"e5499571.501ef8","type":"change","z":"724bf7ae.b96e38","name":"","rules":[{"t":"set","p":"targetposition","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["ac63f349.d3a4"]]},{"id":"4fbb55da.89fb7c","type":"change","z":"724bf7ae.b96e38","name":"","rules":[{"t":"set","p":"currentposition","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":720,"wires":[["f36f83b1.0156f","f78693d8.1680d"]]},{"id":"d826379e.ff73a8","type":"mqtt in","z":"724bf7ae.b96e38","name":"","topic":"mqttthing/lib_blinds/getpositionstate","qos":"2","datatype":"utf8","broker":"b1e11277.fbf1f","x":160,"y":660,"wires":[["6f0e2099.d180f"]]},{"id":"ac63f349.d3a4","type":"change","z":"724bf7ae.b96e38","name":"difference","rules":[{"t":"set","p":"currentposition","pt":"msg","to":"currentposition","tot":"flow"},{"t":"set","p":"targetposition","pt":"msg","to":"targetposition","tot":"flow"},{"t":"set","p":"difference","pt":"msg","to":"$number(currentposition) - $number(targetposition)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":340,"wires":[["1a36e149.431e4f"]]},{"id":"1a36e149.431e4f","type":"switch","z":"724bf7ae.b96e38","name":"<>0","property":"difference","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":460,"wires":[["4d4f0b87.280944","c25491c2.2e33f"],["6cc22c6e.f48034","f758a89d.f74e78"],["52cabd48.069e64"]]},{"id":"4d4f0b87.280944","type":"switch","z":"724bf7ae.b96e38","name":"not increasing","property":"positionstate","propertyType":"flow","rules":[{"t":"neq","v":"INCREASING","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":440,"wires":[["e038d495.545ac8"]]},{"id":"6cc22c6e.f48034","type":"switch","z":"724bf7ae.b96e38","name":"not decreasing","property":"positionstate","propertyType":"flow","rules":[{"t":"neq","v":"DECREASING","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":520,"wires":[["101b4771.bc7519"]]},{"id":"52cabd48.069e64","type":"switch","z":"724bf7ae.b96e38","name":"not stopped","property":"positionstate","propertyType":"flow","rules":[{"t":"neq","v":"STOPPED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":480,"wires":[["528f1097.76326"]]},{"id":"92f05c85.2736a","type":"delay","z":"724bf7ae.b96e38","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":340,"wires":[["ac63f349.d3a4","323f0cd8.ab80c4"]]},{"id":"c25491c2.2e33f","type":"change","z":"724bf7ae.b96e38","name":"+5","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(currentposition) + $min([5, $abs(difference)])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["92f05c85.2736a"]]},{"id":"f758a89d.f74e78","type":"change","z":"724bf7ae.b96e38","name":"-5","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(currentposition)  - $min([5, $abs(difference)])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":400,"wires":[["92f05c85.2736a"]]},{"id":"323f0cd8.ab80c4","type":"range","z":"724bf7ae.b96e38","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":710,"y":340,"wires":[["9b4e35fe.1627a8"]]},{"id":"f78693d8.1680d","type":"persist in","z":"724bf7ae.b96e38","name":"lib_blinds","storageNode":"988ed438.3d0728","x":820,"y":720,"wires":[]},{"id":"ed41b512.d92198","type":"persist out","z":"724bf7ae.b96e38","name":"lib_blinds","storageNode":"988ed438.3d0728","x":300,"y":820,"wires":[["cf89c8bc.33d9d8","4fbb55da.89fb7c","9b4e35fe.1627a8"]]},{"id":"cf89c8bc.33d9d8","type":"debug","z":"724bf7ae.b96e38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":820,"wires":[]},{"id":"c90c120d.a5a1b","type":"inject","z":"724bf7ae.b96e38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":120,"y":820,"wires":[["ed41b512.d92198"]]},{"id":"b1e11277.fbf1f","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"988ed438.3d0728","type":"persist-store","filename":"lib_blinds.json","interval":"60"}]
