lights_counter.json
[{"id":"7a7a7962.525c98","type":"mqtt in","z":"abcd79f9.559d68","name":"","topic":"zigbee2mqtt/kitchen_move_2","qos":"1","datatype":"auto","broker":"b1e11277.fbf1f","x":190,"y":3300,"wires":[["c5da0a04.0c46e8"]]},{"id":"be49012c.e1c11","type":"mqtt out","z":"abcd79f9.559d68","name":"","topic":"zigbee2mqtt/kitchen_led/set","qos":"2","retain":"false","broker":"b1e11277.fbf1f","x":1140,"y":3360,"wires":[]},{"id":"c5da0a04.0c46e8","type":"json","z":"abcd79f9.559d68","name":"","property":"payload","action":"","pretty":false,"x":380,"y":3300,"wires":[["fb06d701.30bcc8"]]},{"id":"fb06d701.30bcc8","type":"switch","z":"abcd79f9.559d68","name":"occupancy","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":3300,"wires":[["7569e7e6.865c78"]]},{"id":"a7965ee6.11f56","type":"template","z":"abcd79f9.559d68","name":"ON 254","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"transition\":2,\n\"state\":\"ON\",\n\"brightness\":254\n}","output":"str","x":840,"y":3320,"wires":[["be49012c.e1c11"]]},{"id":"d33fc2be.4d836","type":"template","z":"abcd79f9.559d68","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\":\"OFF\"}","output":"str","x":850,"y":3400,"wires":[["be49012c.e1c11"]]},{"id":"f7b72a7b.a390d8","type":"switch","z":"abcd79f9.559d68","name":">0 =0","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":3540,"wires":[["e8440917.9f3ad8","8c48595.468e9a8"],["fe5466ee.eacaf8"]]},{"id":"22d16b5c.19e364","type":"change","z":"abcd79f9.559d68","name":"-1","rules":[{"t":"set","p":"decrement","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":3540,"wires":[["f4510fb0.daa09"]]},{"id":"bdfcbe82.ef28a","type":"debug","z":"abcd79f9.559d68","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"count","statusType":"auto","x":350,"y":3460,"wires":[]},{"id":"e8440917.9f3ad8","type":"trigger","z":"abcd79f9.559d68","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"3","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":790,"y":3600,"wires":[["22d16b5c.19e364"]]},{"id":"a118c9e2.4e8fb8","type":"switch","z":"abcd79f9.559d68","name":">2","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":3360,"wires":[["fa6ec3ff.30c1a"],["a7965ee6.11f56"]]},{"id":"273922f9.d1fabe","type":"template","z":"abcd79f9.559d68","name":"ON 1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"state\":\"ON\",\n\"brightness\":1\n}","output":"str","x":850,"y":3360,"wires":[["be49012c.e1c11"]]},{"id":"7569e7e6.865c78","type":"delay","z":"abcd79f9.559d68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"40","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":180,"y":3360,"wires":[["f4510fb0.daa09"]]},{"id":"8c48595.468e9a8","type":"switch","z":"abcd79f9.559d68","name":"sleeptime","property":"sleeptime","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":3420,"wires":[["a118c9e2.4e8fb8"],["597c428e.39c49c","fa6ec3ff.30c1a"]]},{"id":"f4510fb0.daa09","type":"counter","z":"abcd79f9.559d68","name":"","init":"0","step":"1","lower":"0","upper":"10","mode":"increment","outputs":"1","x":300,"y":3540,"wires":[["f7b72a7b.a390d8","bdfcbe82.ef28a"]]},{"id":"b86e3ab4.2dae58","type":"template","z":"abcd79f9.559d68","name":"ON ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"state\":\"ON\"\n}","output":"str","x":870,"y":3480,"wires":[["832bfa8c.8e5db8","efdbc532.61a678"]]},{"id":"597c428e.39c49c","type":"switch","z":"abcd79f9.559d68","d":true,"name":">2/<=1","property":"count","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"lte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3500,"wires":[["b86e3ab4.2dae58","9b4e4861.67c6b8"],["711c9cc8.1c78e4"]]},{"id":"caf32570.69e338","type":"mqtt in","z":"abcd79f9.559d68","name":"","topic":"zigbee2mqtt/kitchen","qos":"1","datatype":"json","broker":"b1e11277.fbf1f","x":150,"y":3600,"wires":[["29d4bf16.9631a","d4e92519.5b66c8"]]},{"id":"68c0710b.5a846","type":"switch","z":"abcd79f9.559d68","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":3660,"wires":[[],["22216155.afa49e","ecb72c3e.34a33","d4e92519.5b66c8"]]},{"id":"711c9cc8.1c78e4","type":"template","z":"abcd79f9.559d68","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\":\"OFF\"}","output":"str","x":850,"y":3440,"wires":[["4f0b34c7.6d116c","903eccd9.ca2ac"]]},{"id":"4fc6ecd4.5e9fe4","type":"rbe","z":"abcd79f9.559d68","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":3660,"wires":[["68c0710b.5a846"]]},{"id":"22216155.afa49e","type":"change","z":"abcd79f9.559d68","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":3680,"wires":[["e8440917.9f3ad8"]]},{"id":"ecb72c3e.34a33","type":"change","z":"abcd79f9.559d68","name":"-10","rules":[{"t":"set","p":"decrement","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":3620,"wires":[["f4510fb0.daa09"]]},{"id":"29d4bf16.9631a","type":"change","z":"abcd79f9.559d68","name":"state","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":3660,"wires":[["4fc6ecd4.5e9fe4"]]},{"id":"4f0b34c7.6d116c","type":"mqtt out","z":"abcd79f9.559d68","name":"","topic":"zigbee2mqtt/kitchenbulb/set","qos":"2","retain":"false","broker":"b1e11277.fbf1f","x":1140,"y":3540,"wires":[]},{"id":"9b4e4861.67c6b8","type":"template","z":"abcd79f9.559d68","name":"ON ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"transition\":2,\n\"state\":\"ON\",\n\"brightness\":254\n}","output":"str","x":870,"y":3520,"wires":[["58b7a25d.45d5fc"]]},{"id":"903eccd9.ca2ac","type":"mqtt out","z":"abcd79f9.559d68","name":"","topic":"zigbee2mqtt/dimmer_12v/set","qos":"2","retain":"false","broker":"b1e11277.fbf1f","x":1160,"y":3400,"wires":[]},{"id":"22213ea8.dbeb92","type":"inject","z":"abcd79f9.559d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3460,"wires":[["f4510fb0.daa09"]]},{"id":"1878d1ac.58120e","type":"inject","z":"abcd79f9.559d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3500,"wires":[["22d16b5c.19e364"]]},{"id":"ea39c2ea.5aac2","type":"inject","z":"abcd79f9.559d68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":3540,"wires":[["fa6ec3ff.30c1a"]]},{"id":"efdbc532.61a678","type":"mqtt out","z":"abcd79f9.559d68","name":"","topic":"zigbee2mqtt/kitchenrelay/l1/set","qos":"2","retain":"false","broker":"b1e11277.fbf1f","x":1150,"y":3480,"wires":[]},{"id":"58b7a25d.45d5fc","type":"delay","z":"abcd79f9.559d68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":3580,"wires":[["4f0b34c7.6d116c"]]},{"id":"832bfa8c.8e5db8","type":"delay","z":"abcd79f9.559d68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":3440,"wires":[["903eccd9.ca2ac"]]},{"id":"fa6ec3ff.30c1a","type":"change","z":"abcd79f9.559d68","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":3440,"wires":[["a7965ee6.11f56","b86e3ab4.2dae58","9b4e4861.67c6b8"]]},{"id":"fe5466ee.eacaf8","type":"change","z":"abcd79f9.559d68","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"OFF\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":3400,"wires":[["d33fc2be.4d836","711c9cc8.1c78e4"]]},{"id":"b1e11277.fbf1f","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
